.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background: var(--primary-color);

  .form-header {
    color: var(--secondary-color);
    font-weight: bold;
  }

  .form-group {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .form-input {
      display: flex;
      padding: 10px;
      border-radius: 5px;
      background: transparent;
      outline: none;
      border: 1px solid var(--secondary-color);
      color: var(--secondary-color);

      &::placeholder {
        color: var(--secondary-color);
        font-size: 12px;
        opacity: 0.5;
      }
    }

    .form-error {
      max-width: 300px;
      color: var(--error);
      font-size: 12px;
      padding-top: 2px;
      text-wrap: wrap;
      line-height: normal;
    }
  }

  .form-button {
    max-width: 300px;
    height: 36px;
    margin: 0;
    padding: 8px 16px;
    width: 100%;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: bold;
  }

  .form-link {
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 12px;
  }
}
