.item {
  border: 1px solid rgba(228, 228, 231, 0.2);
  min-width: 200px;
  min-height: 200px;
  border-radius: 3px;
  padding: 8px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.item:first-child,
.item:last-child {
  grid-column: span 2;

  @media (max-width: 600px) {
    min-width: 300px;
    grid-column: span 1;
  }
}
