@use "../../index" as *;

.form-group {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .form-input {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    border: 1px solid $secondary-color;
    color: $secondary-color;

    &::placeholder {
      color: $secondary-color;
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .form-error {
    max-width: 300px;
    color: $error;
    font-size: 12px;
    padding-top: 2px;
    text-wrap: wrap;
    line-height: normal;
  }
}
